BASE_PATH=
PUID=1000
GUID=1000
TZ=Europe/Berlin
SECRET_KEY="2I..."
LICENSE="eyJ...."
BACKUP_KEY=47LK....
ENABLED_PLUGINS=cyberchef,checkthehash,graphqlvoyager,markdownexport,projectnumber,webhooks,renderfindings,scanimport
USE_X_FORWARDED_HOST=on
USE_X_FORWARDED_PORT=on
ALLOWED_HOSTS="sysreptor.example.com,sysreptor.example.local" # important for websocket connection
PREFERRED_LANGUAGES="de-DE,en-US,fr-FR"
