BASE_PATH=
PUID=1000
GUID=1000
TZ=Europe/Berlin
SECRET_KEY=nc....
DB_ENGINE=django.db.backends.postgresql
POSTGRES_HOST=db_recipes
POSTGRES_DB=djangodb
POSTGRES_PORT=5432
POSTGRES_USER=djangouser
POSTGRES_PASSWORD=topsecret!
